@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.header {
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

.typography {
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 20rem;
  height: 30rem;
  cursor: pointer;
  margin-right: 7rem;
  margin-bottom: 7rem;
  border-radius: 4%;
}

.title {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-top: 12rem;
  margin-left: 2.2rem;
  text-justify: center;
}

.date {
  margin-top: 5px;
  font-size: 1.5rem;
  border-color: #0c0202;
  margin-bottom: 5rem;
}

