@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 120rem;
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: transparent;
  background-color: rgba(172, 172, 172, 0.479)
}

.form {
  margin-top: 2rem;
}

.typography {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.button {
  margin-top: 2rem;
  margin-right: 3rem;
  background-color: #ffcf00;
  width: 8rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(250, 175, 14, 0.671);
  border-color: rgba(250, 175, 14, 0.671);
}
