@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.header {
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

.asset {
  margin-top: 2rem;
}

.form {
  margin-top: 3rem;
}
